<nav class="navbar">
    <div class="container">
      <a href="/" class="logo">MovieHub</a>
      <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/search">Search</a></li>
        <% if (user) { %>
            <span>Welcome, <%= user.username %>!</span>
            <a href="/logout">Logout</a>
          <% } else { %>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
          <% } %>
      </ul>
    </div>
  </nav>
  